*,
::before,
::after {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
}

:root {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

li { list-style-type: none; }

a {
  text-decoration: none;
  color: inherit;
}
