$side-aliases: ("top": "t", "right": "r", "bottom": "b", "left": "l");

$indent-limits: ("min": 1, "max": 5);
$indent-aliases: ("margin": "m", "padding": "p");
$indent-value: .5rem;

$header-sizes: (
  calc(1.375rem + 1.5vw), 
  calc(1.325rem + .9vw), 
  calc(1.3rem + .6vw), 
  calc(1.275rem + .3vw),
  1.25rem,
  1rem,
);

$colors: (
  "primary": #297bf6,
  "secondary": #6c757d,
  "success": #28a745,
  "danger": #dc3545,
  "warning": #ffc107,
  "info": #17a2b8,
  "light": #f8f9fa,
  "dark": #343a40,
  "white": #fff,
  "transparent": transparent,
);

$text-align-variants: ("top", "right", "left", "center", "justify");

$transition-durations: ("slowly": .5, "regulary": .3, "rapidly": .15);

$display-variants: (
  inline, 
  inline-block,
  block,
  flex,
  inline-flex,
  grid,
  inline-grid,
);

$justify-content-variants: (
  center,
  flex-start,
  flex-end,
  space-evenly,
  space-between,
  space-around,
);

$align-items-variants: (
  center,
);